:root {
    --primary: white;
    --alt: #1f4954;
    --trim: black;
    --text: white;
    --alt-text: var(--alt);
}

body {
    font-family: Futura;
    color: var(--text);
    background-color: var(--alt);
    /* transition: all 0.2s; */
    margin: 1vh;
    padding: 1rem;
    font-size: 2rem;
}

#body {
    overflow: hidden;
    padding: 0;
}

h1 {
    font-weight: normal;
    margin: 0;
}

h2 {
    font-weight: normal;
    margin: 0;
}

h4 {
    font-weight: normal;
    font-size: 2rem;
    margin: 0;
}

h5 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text);
}

.svg-link {
    color: var(--text);
    text-decoration: none;
}

.static-navigator {
    display: grid;
    place-items: center;
    height: 17vh;
}

.headbar {
    display: grid;
    place-items: center;
}

.headbar-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.picker {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.small-icon-with-text {
    padding: 0.5rem;
    width: 5rem;
    height: 4rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.small-icon-with-text:hover {
    padding: 0.5rem;
    background-color: lightgray;
}

.small-icon-label {
    color: var(--alt-text);
}

.small-icon-img {
    width: 2rem;
}

.topic-tray {
    /* transition: all 0.2s; */
    background-color: var(--alt);
    height: 73vh;
}

.topic {}

.group {
    display: flex;
}

.image {
    width: 8em;
}

.story {
    padding: 1em;
}

.footbar {
    display: flex;
    padding: 2vh;
    height: 4vh;
    justify-content: space-between;
}

/* mobile layout */
@media only screen and (max-width: 1200px) {}
