<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body id="body">
        <form action="/api/v1/groups/update/{{groupId}}/" method="post" enctype="multipart/form-data">
            <label>Group Order</label>
            <br />
            <input type="number" name="groupOrder" value={{groupOrder}} required/>
            <br />
            <input type="submit"/>
        </form>
        <button href="/new/stories/?groupId={{groupId}}">Add a new story</button>
        <button href="/new/media/?groupId={{groupId}}">Add a new media</button>
    </body>
</html>
