<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body id="body">
        <form action="/api/v1/stories/update/{{storyId}}/" method="post" enctype="multipart/form-data">
            <label>Story Order</label>
            <br />
            <input type="number" name="storyOrder" value={{storyOrder}} required/>
            <br />
            <label>Story Text</label>
            <br />
            <input type="textarea" name="text" size="256" value="{{text}}" required/>
            <br />
            <input type="submit"/>
        </form>
        <br />
        <a href="/api/v1/stories/delete/{{storyId}}/">Delete this story</a>
    </body>
</html>
