<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body id="body">
        <form action="/api/v1/groups/update/{{groupId}}/" method="post" enctype="multipart/form-data">
            <label>Group Order</label>
            <br />
            <input type="text" name="name" value="{{name}}" required/>
            <br />
            <input type="number" name="groupOrder" value={{groupOrder}} required/>
            <br />
            <input type="submit"/>
        </form>
        <a href="/new/stories/?groupId={{groupId}}&amp;topicId={{topicId}}">Add a new story</a>
        <a href="/new/media/?groupId={{groupId}}&amp;topicId={{topicId}}">Add a new media</a>
        <br />
        <a href="/api/v1/groups/delete/{{groupId}}/">Delete this group</a>
    </body>
</html>
