<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body id="body">
        <form action="/api/v1/stories/update/{{storyId}}/" method="post" enctype="multipart/form-data">
            <label>Story Order</label>
            <br />
            <input type="number" name="storyOrder" value={{storyOrder}} required/>
            <br />
            <label>Image File</label>
            <br />
            <input type="file" name="file" required/>
            <br />
            <input type="submit"/>
        </form>
    </body>
</html>
