<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- index.html -->
        <title>🦤</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <div id="titlecard" class="banner">
                <h1>Thomas Dokas</h1>
                <h3>Personal Poopfolio</h3>
            </div>
            <div id="reactEntry" class="site">
                <!-- Load JavaScript -->
                <script type="text/javascript" src="{{ url_for('static', filename='js/main.bundle.js') }}" />
            </div>
        </div>
    </body>
</html>
