<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- index.html -->
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style-copy.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body>
        <div class="wrapper">
            <div class="item-card-1">
                <div class="item-card-content">
                    <h1>Hello!</h1>
                    <h4>I'm in the process of rewriting the code for my website's homepage</h4>
                    <h4>Please check back later 😊</h4>
                </div>
            </div>
            <div class="item-card-1">
                <div class="item-card-content">
                    <h1>In the meantime</h1>
                    <h4>if you would like to see some of my personal projects, check out my <a href="https://github.com/dokastho">github</a></h4>
                </div>
            </div>
            <div class="item-card-1">
                <div class="item-card-content">
                    <h1>Currently...</h1>
                    <h4>the mid-development version of this portfolio website looks like <a href="https://www.dokasfam.com/wip/">this</a></h4>
                </div>
            </div>
        </div>
    </body>
</html>
