<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body id="body">
        <form action="/api/v1/groups/upload/" method="post" enctype="multipart/form-data">
            <label>Topic ID</label>
            <br />
            <input type="number" name="topicId" value={{topicId}} required/>
            <br />
            <input type="text" name="name" value={{name}} required/>
            <br />
            <label>Group Order</label>
            <br />
            <input type="number" name="groupOrder" required/>
            <br />
            <input type="submit"/>
        </form>
    </body>
</html>
