<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- user.html -->
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/reszoom-style.css">
    </head>
    <body>
        <div>
            <div class="center-panel">
                <h1><a href="/">home</a></h1>
                <br />
                <div class="resume-name"><h1>Account Info</h1></div>
                <br />
                <div class="user">
                    <div class="fullname">{{fullname}}</div>
                    <div class="username">@{{username}}</div>
                </div>
                <hr />
                <br />
                {% if username == logname %}
                <div id="account-actions" class="create-post">
                    <br />
                    <form action="/accounts/logout/" method="post">
                        <input type="hidden" name="logout" value="{{logname}}"/>
                        <button name="logout">logout</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
