<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- index.html -->
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body>
        <div class="wrapper">
            <div class="item-card">
                <h1>Hello!</h1>
                <h4>I'm in the process of rewriting the code for my website's homepage</h4>
                <h4>Please check back after the holiday break</h4>
            </div>
            <div class="item-card">
                <h1>In the meantime</h1>
                <h4>if you would like to see some of my personal projects, check out my <a href="https://github.com/dokastho">github</a></h4>
            </div>
        </div>
    </body>
</html>
