<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- index.html -->
        <title>Thomas Dokas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    </head>
    <body>
        <div id="reactEntry">
            <!-- Load JavaScript -->
            <script type="text/javascript" src="{{ url_for('static', filename='js/index.bundle.js') }}"></script>
        </div>
    </body>
</html>
